.container{
    width: 1120px;
    margin: 0 auto;
    padding: 0 2rem;
}

.post{
    max-width: 700px;
    margin: 3rem auto 0;

    h1{
        font-size: 1.75rem;
        font-weight: 700;
        line-height: 2.12rem;
        text-align: justify;
        letter-spacing: -0.5px;
        color: var(--heading);
        margin-bottom: 0.5rem;
    }
    .subtitle{
        font-weight: 400;
        font-size: 1.12rem;
        line-height: 1.37rem;
        text-align: justify;
        color: var(--body);
        margin-bottom: 1.5rem;
    }

    time{
        font-size: 0.87rem;
        color: var(--info);
        font-weight: 400;
        margin-right: 1.5rem;
        line-height: 1rem;
        text-transform: uppercase;
    }

    .author{
        font-size: 0.87rem;
        color: var(--info);
        font-weight: 400;
        margin-right: 1.5rem;
        line-height: 1rem;
    }

    .meta{
        display: flex;
        align-items: baseline;
    }
}
